# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build folders
dist
dist-ssr
.output
.vinxi
.tanstack/**
.nitro

# Environment files (IMPORTANT)
.env
.env.local
.env.development.local
.env.production.local

# Local files
*.local

# Wrangler / Cloudflare
.wrangler/
.dev.vars

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
coverage
.cache
temp
tmp
